<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css">    
    <link rel="stylesheet" href="~/css/footer.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Momo Pizza.com</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="~/Home/Index">
                <img src="~/css/Logo.jpg" width="60px" height="60px" />
            </a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="~/Menu/Index">Меню</a></li>
                <li><a href="#">Пицца-мэйкер</a></li>
                <li><a href="/contacts">О нас</a></li>
            </ul>
        </div>
        <button class="enter">
            <a href="~/Autorization/Index">Войти</a>
        </button>
        <div class="basket">
            <a href="~/Basket/Index">
                <img src="~/css/Basket.png" width="48рх" height="48px" />
            </a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> @*Не трогать иначе не работает*@
    <footer>

        <ul class="menu_footer">
            <li><a href="~/Home/Index">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Команда</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <p>©2024 Momo Pizza Company | Все права защищены</p>
        <p>Дрыков Даниил, Ермаков Владислав, Штепа Михаил</p>
    </footer>

</body>
</html>
