
@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/about.css">
</head>
<body>
    <main>
        <section class="about-us">
            <h2>О Momo-Pizza</h2>
            <div class="main_text">
                <p>Momo-Pizza - это не просто пиццерия, это история трёх мечтателей - Мишы, Даниила и Влада - объединенных страстью к вкусной и качественной пицце. </p>
                <p>В 2010 году они решили поделиться своей любовью с родным городом, открыв пиццерию, где царит особая атмосфера и неповторимый аромат.</p>
                <p>
                    В основе всего - свежие, местные продукты. Мы тщательно отбираем каждый ингредиент, чтобы создать истинную симфонию вкуса. Наша миссия - не просто утолить голод, а подарить людям тепло, заботу и душевное наслаждение.

                    Каждая пицца Momo-Pizza готовится с любовью, в нее вкладывается частичка души наших поваров. Мы верим, что пицца - это не просто еда, это искусство. Искусство дарить людям радость, объединять друзей и близких за одним столом.
                </p>
            </div>
            <div class="text">
                <p>Momo-Pizza - это место, где каждый чувствует себя как дома.</p>
                <p>Приходите к нам и отведайте кусочек МИРА, воплощенный в каждой пицце!</p>
            </div>
            <img src="~/css/Momo-Pizza.png" alt="Самое начало (13.10.2010)" >
        </section>

        <section class="why-choose-us">
            <h2>Почему стоит выбрать нас?</h2>
            <ul>
                <li>[Пункт 1]</li>
                <li>[Пункт 2]</li>
                <li>[Пункт 3]</li>
            </ul>
        </section>

        <section class="testimonials">
            <h2>Отзывы</h2>
            <blockquote>
                "[Отзыв 1]" - [Имя клиента]
            </blockquote>
            <blockquote>
                "[Отзыв 2]" - [Имя клиента]
            </blockquote>
        </section>
    </main>

</body>

