@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/slider.css">
    <script src="~/js/slider.js" defer="defer"></script>
</head>
<body>
    <section>
        <div class="carousel-container">
            <img src="" alt='bg image' class='bg-image' />
            <div class="carousel">
                <img src="~/css/For Slader/Cyberpunk.png" alt="Image 1" class='carousel-image' width="500px" height="500px">
                <img src="~/css/For Slader/Diablo.jpg" alt="Image 2" class='carousel-image' width="500px" height="500px">
                <img src="~/css/For Slader/GTA.jpg" alt="Image 3" class='carousel-image' width="500px" height="500px">
                <img src="~/css/For Slader/Man.jpg" alt="Image 4" class='carousel-image' width="500px" height="500px">
                <img src="~/css/For Slader/Mordor.jpg" alt="Image 4" class='carousel-image' width="500px" height="500px">
                <img src="~/css/For Slader/Re Village.jpg" alt="Image 4" class='carousel-image' width="500px" height="500px">
                <img src="~/css/For Slader/STALKER.png" alt="Image 4" class='carousel-image' width="500px" height="500px">
                <img src="~/css/For Slader/Vegetarian.jpg" alt="Image 4" class='carousel-image' width="500px" height="500px">
            </div>
            <button class="arrow-button left-arrow"><span>&#8249;</span></button>
            <button class="arrow-button right-arrow"><span>&#8250;</span></button>
        </div>
    </section>
</body>