

.container {
    max-width: 400px;
    margin: 0 auto;

}

h1.RegAuto {
    margin-bottom: 10px;
}

input.RegAuto {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button.RegAuto {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

a.RegAuto {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    margin-top: 10px;
    text-decoration: none;
    color:black;
}
