html {
    position: relative;
    height: 100%;
}

body {
    background-color: white;
    position: relative;
    margin: 0;
    /* Растягиваем body по высоте html */
    min-height: 100%;
}
main {
    /* Выставляем отступ с высотой footer и header */
    min-height: calc(100vh - 20px - 225px);
}
header {
    width: 100%;
    background-color: #9eccae;
    height: 64px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    top: 0;

}
* {
    padding: 0;
    margin: 0;
}
.logo {
    margin-right: 30px;
}
.basket{
    float:right;
    margin-right: 2%;
    margin-left:2%;

}
.exite {
    float: right;
    margin-right: 0%;
    margin-left: 2%;
    cursor: pointer;
}
.nickname {
    float: right;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: .20em;
}
.enter {
    font-size: 16px;
    line-height: 18px;
    border-radius: 12px;
    background-color: #93c191;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
}

    .enter a {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .27em;
    }
.menu {
    flex-grow: 1;
}

    .menu ul {
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .menu li {
        margin-right: 20px;
    }

        .menu li:last-child {
            margin-right: 0;
        }

    .menu a {
        padding: 8px 10px;
    }
    .menu a,
    .menu .active {
        display: block;
        padding: 8px 10px;
    }

    .menu .active {
        color: #fff;
        background-color: #ff3d00;
        border-radius: 8px;
    }
    .menu ul {
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 18px;
        list-style: none;
    }

    .menu a,
    .menu .active {
        display: block;
        padding: 8px 10px;
        text-transform: uppercase;
        letter-spacing: .27em;
    }

    .menu a {
        color: #000;
        text-decoration: none;
    }
    .menu ul {
        display: flex;
        flex-flow: row nowrap;
        margin: 2px 0 0;
        padding: 0;
        font-size: 16px;
        line-height: 18px;
        list-style: none;
    }

